*{
  padding: 0;
  margin: 0;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calendar-wrapper{
  width: 850px;
  height: 650px;
  display: flex;
  justify-content: space-between;
}

.img{
  width: 40%;
}

.calendar{
  width: 60%;
  background-color: rgb(246, 234, 219);
}

.monthName-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 30px;
}

.monthName{
  text-align: center;
  font-size: 30px;
}

.right-arrow:hover {
  cursor: pointer;
}

.left-arrow:hover {
  cursor: pointer;
}

.table{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 20px;
}

.weekDays{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.dayNumbers{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.dayNumber{
  width: 40px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.weekDay-block{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  width: 57px;
  margin: 4px 4px 30px 4px;
}

.block{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  width: 57px;
  margin: 4px;
}


