:root {
  --bg-color:rgb(246, 234, 219);
  --day-searcher-bg:rgb(242, 193, 141);
  --btn-color:rgb(127, 255, 0);
}

@font-face {
  font-family: 'NotoSans';
  src: url('/calendar/fonts/static/NotoSans-Regular.ttf') format(truetype);
}

* {
  padding: 0;
  margin: 0;
  font-family: 'NotoSans';
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(50px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calendar-wrapper {
  width: 850px;
  height: 650px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.img {
  width: 40%;
  height: auto;
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
}

.day-searcher {
  width: auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--day-searcher-bg);
  padding: 6px;
  border-radius: 15px;
  margin: 5px;
}

.day-input {
  padding: 4px;
  width: 50%;
  height: 3vh;
  border-radius: 15px;
  border-color: transparent;
}

.day-search-btn {
  width: 30%;
  height: 4vh;
  border-radius: 15px;
  border-color: transparent;
  background-color: var(--btn-color);
  cursor: pointer;
}

.today-searcher-btn {
  width: 12vh;
  height: 4vh;
  border-radius: 15px;
  border-color: transparent;
  background-color: var(--btn-color);
  cursor: pointer;
  margin: 1vh;
}

.calendar {
  width: 60%;
  background-color: var(--bg-color);
}

.monthName-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 70px 20px 70px;
}

.monthName {
  text-align: center;
  font-size: 30px;
}

.right-arrow {
  width: 24px;
  height: 20px;
}

.left-arrow {
  width: 24px;
  height: 20px;
}

.right-arrow:hover {
  cursor: pointer;
}

.left-arrow:hover {
  cursor: pointer;
}

.table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 20px;
}

.weekDays {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.dayNumbers {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.dayNumber {
  width: 40px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.active-day {
  background-color: var(--btn-color);
}

.weekDay-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  width: 57px;
  margin: 4px 4px 30px 4px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  width: 57px;
  margin: 4px;
  cursor: pointer;
}




