* {
  margin: 0;
  padding: 0;
}
.pop-up {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  transition: opacity 0.4s , visibility 0.4s;
}

.inner-pop-up {
  max-width: 800px;
  padding: 45px;
  z-index: 1;
  margin: 30px 15px;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.8);
  transition: transform 0.8s;
  display: flex;
  flex-direction: column;
  width: 70vh;
  height: 40vh;
  border-radius: 20px;
}

.pop-up.open {
  visibility: visible;
  opacity: 1;
}

.pop-up.open .inner-pop-up {
  transform: scale(1);
}

.pop-up-day {
  padding-top: 2vh;
  font-size: 35px;
}

.pop-up-day-submit-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5vh;
}

.pop-up-submit {
  width: 15vh;
  height: 5vh;
  border-radius: 15px;
  border-color: transparent;
  background-color: var(--btn-color);
  margin-top: 2vh;
}
.author-time-wrapper {
  display: flex;
  justify-content: space-between;
}

.pop-up-time, .pop-up-author{
  padding: 4px;
  width: 30vh;
  height: 3vh;
  border-radius: 15px;
  border-color: transparent;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.pop-up-comment {
  padding: 5px;
  margin-top: 3vh;
  height: 30vh;
  resize: none;
  border-radius: 15px;
  border-color: transparent;
}
